<div>
    <div class="page-logo">
        <h1>ReQiew</h1>
    </div>
    <div class="menu">
        <button mat-button class="menu-button" routerLinkActive="active-link">
            <mat-icon>score</mat-icon>
            <a routerLink="/scores" >Aspects scores</a>
        </button>
        <button mat-button class="menu-button" routerLinkActive="active-link">
            <mat-icon>compare_arrows</mat-icon>
            <a routerLink="/benchmark" >Benchmark</a>
        </button>
        <button mat-button class="menu-button" routerLinkActive="active-link">
            <mat-icon>timeline</mat-icon>
            <a routerLink="/timeline" >Times Series</a>
        </button>
        <button mat-button class="menu-button" routerLinkActive="active-link">
            <mat-icon>person</mat-icon>
            <a routerLink="/analysis">Driver Analysis</a>
        </button>
        <button mat-button class="menu-button" routerLinkActive="active-link">
            <mat-icon>list</mat-icon>
            <a routerLink="/details" >Aspect Details</a>
         </button>
    </div>      
</div>

